<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Followers</title>
</head>
 <header>
   <h1>My followers</h1>  
 </header>

<body>
 
        <main>
            Followers
            <% followers.forEach(function(follower){%>
            <h2><%= follower.name %></h2>
            <% }) %>
    
        </main>
        <!--Includes the footer -->
        <%- include('include/footer.ejs')%>
        
    </body>