* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "harmattan", sans-serif;
}

body {
    background-color: beige;
}

/*In de main zitten alle profielen**/
main {
    margin-bottom: 0;
}

section {
    margin-top: -3rem;
}

/*Namen van profiels **/
h2 {
    position: relative;
    color: White;
    top: 10em;
    left: .6em;
    font-size: 2rem;
}

/**Image van Profielen**/
main img {
    width: 100%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**Bescrivinggen qua leeftijjd, hobby en gender**/
main article {
    display: flex;
    position: relative;
    flex-direction: flex;
    gap: 1em;
    bottom: 4em;
    left: 1em;
}

main article p {
    font-size: 1rem;
    background-color: #F4ECC2;
    padding: .5em;
    border-radius: 6px;
    box-shadow: 2px 3px 4px;
}

main article p:hover {
    transform: scale(1.3);
}

 article form button{
    position: absolute;
    background-color: rgb(22, 192, 214) ;
    padding: .5em;
    bottom: 5em ;
    left: 15em;
    border:none;
    border-radius: .7em;
    font-weight: 800;  
}

article form button:hover{
    transform: scale(1.3);
}

article form button:active {
    background-color: #00308F ;
}

/**Stylen voor de footer*/
footer {
    margin-top: -3rem;
}

