* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "harmattan";
}

body {
    background-color: beige;
    overflow: scroll;

}

/*images profielen*/
h2 {
    position: relative;
    color: White;
    top: 10em;
    left: .6em;
    font-size: 2rem;

}

main {
    position: relative;
    bottom: 4.5em;
}

main img {
    width: 100%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}




.resize-image {
    margin: em;
    height: 400px;
}

main article {
    display: flex;
    position: relative;
    flex-direction: flex;
    gap: 1em;
    bottom: 3em;
    left: 1em;



}

main article p {
    font-size: 1rem;
    background-color: #F4ECC2;
    padding: .5em;
    border-radius: 6px;
    box-shadow: 2px 3px 4px ;
   
    
    

}


