* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "harmatan" sans-serif;
}

h1 {

    margin-top: 3em;
    text-align: center;
    color:black;
    font-size: 1rem;
  

}

header {
   position: fixed;
    display: flex;
    position: relative;   
}


header img{
    position: absolute;
    margin-top: 1em;
    width:15%;
    margin-left: 1em;

}


button {
   
    font-size:1.5;
    text-decoration: none;
    color:white;
    background-color:  #00308F;
    border: none;
    width: 5em;
    height: 3em;
    left:20em;
    top:1.5em;
    border-radius: 7px;
    position:fixed;
    z-index: 1;
    
  
  }

h2{
    margin-top: 1em;
    font-size: 2rem;
    text-align: center;


    
}


form{
    position: relative;
    left: 2em;
    gap:1em;
    top:2em;
    display: grid ;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2rem;
  
  

}
input.checkbox{
    width:2em;
    height: 2em;
}

 input {
    position: relative;
    bottom:3em;
}

label {
    position: relative;
    bottom:1.5em;

}