* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "harmatan" sans-serif;

}
body{
    background-color: yellow;
   
}

header{
    
    padding: 4em;
   
}

header h1{
    color: black;
    text-align: center;

   
}
header img {
    width:30%;
    position: relative;
    top: 3em;
    left: 5.5em;

}


header h2 {
    text-align: center;
    margin-top:3em;
}

header form {
        position: relative;
        left: 1.5em;
    }
    
 
header form input{
    display: grid;
    width: 20em;
    height: 3em;
    border-radius: 1em;
    border: none;
    text-align: center;
    
    

   
    

}
header form label {
    display:grid;
    grid-template-columns: 1fr;
    margin : 0 auto;
    width: 20em;
    margin-top: 1em;
  
   
}


 header h3, p{
     margin-top: 3em;
     display: absolute;
     text-align: center;
   
   
}



 header form button {
     position: relative;
     left:5em;
     top:3em;
     background-color: #00308F;
     padding: 10px;
     width: 7em;
     font-size: sm;
     color: white ;
     border-radius: 8px;
     border: none;
     box-shadow: 2px 3px solid black;

 }

 button a {
     color: white;
     text-decoration: none;
 }

 button:hover{
      color:yellow;
    
  }

/*DESKTOPVERSIE*/
     
@media  all  and  (min-width: 500px){
    body{
        background-color: white;
        
    }


    header img {
        position: relative;
        width: 20%;
        left: 12em;
        
         
    }

    .loginbg{
        position:absolute;
        background-color: yellow;
        padding: 1em;
        margin-left: 20em ;
        margin-right: 20em;

    }

    header form button{
        left: 12em;
    }
    
    
}

 
