
    <footer class="footer-navbar">
        <ul>
            <li><img src="/images/homeicon.png" alt="">Home</li>
            <li><img src="/images/searcbtn.png" alt="">Search</li>
            <li><img src="/images/favorites.png" alt="">Favorites</li>
            <li><img src="/images/profile-me.jpg" alt="">Profile</li>

        </ul>
    </footer>
</body>
</html>