<body>

    <header>
        <!--Bevat de logo, logo text en icoontjes-->
        <div class="header1">
            <h1>Hobby buddy</h1>
            <img src="images/logo.png" alt="" class="logo">

            <img src="images/chaticon.png" alt="" class="chaticon">
            <img src="images/notification.png" alt=" class" class="notification-icon">

        </div>
        <!--Bevat de stories van profielen-->
        <div class="header2">

            <!--Stories-->
            <ul>
                <li>
                    <div class="story1">
                        <img src="images/profile1.jpg" alt="">
                        <p>Charlotte </p>
                    </div>
                </li>

                <li>
                    <div class="story2">
                        <img src="images/profile2-golf.jpg" alt="">
                        <p>Mandy</p>
                    </div>
                </li>

                <li> 
                    <figure>
                    <img src="images/profile5-football.jpg" alt="" class="story3">
                   </figure>
                    <p>Stephany</p>
                   
                </li>

                <li>
                    <figure>
                    <img src="images/profile7-swimmer.jpg" alt="" class="story4">
                   </figure>
                    <p>John</p>
                </li>

                <li">
                    <figure>
                    <img src="images/profile5-football.jpg" alt="" class="story5">
                   </figure>
                    <p>Travis</p>
                    </li>

            </ul>
            <!--Filter op locatie-->
            <form action="/locations" method="POST">

                <label for=" ">Amsterdam</label>
                <input type="radio" name="location" value="Amsterdam">

                <label for=""> Rotterdam </label>
                <input type="radio" name="location" value="Rotterdam">

                <label for="">Arnhem</label>
                <input type="radio" name="location" value="Arnhem">

                <label for="">Groningen</label>
                <input type="radio" name="location" value="Groningen">

                <label for="">Utrecht</label>
                <input type="radio" name="location" value="Utrecht">

                <button>filter</button>

            </form>

    </header>
    <script src="public/js/filter.js"></script>
</body>