<header>
    <div class="header1">
        <h1>Hobby buddy</h1>
        <img src="images/logo.png" alt="" class="logo">

        <img src="images/chaticon.png" alt="" class="chaticon">
        <img src="images/notification.png" alt=" class" class="notification-icon">

    </div>

    <div class="Header 2">
        
       

        <!--Stories-->
        <ul>
            <li>
                <img src="images/profile1.jpg" alt="">
                <p>Charlotte</p>
            </li>

            <li>
                <img src="images/profile2-golf.jpg" alt="">
                <p>Mandy</p>
            </li>

            <li>

                <img src="images/profile5-football.jpg" alt="">
                <p>Stephany</p>
            </li>

            <li>
                <img src="images/profile7-swimmer.jpg" alt="">
                <p>John</p>
            </li>

            <li>
                <img src="images/profile5-football.jpg" alt="">
                <p>Travis</p>
            </li>


            <li>
                <img src="images/profile3-fitness.jpg" alt="">
                <p>Daniel</p>
            </li>

            <li>
                <img src="images/profile1.jpg" alt="">
                <p>Charlotte</p>
            </li>

            <li>
                <img src="images/profile5-football.jpg" alt="">
                <p>Mandy</p>
            </li>

            <li>

                <img src="images/profile3-fitness.jpg" alt="">

                <p>Stephany</p>
            </li>

            <li>
                <img src="images/profile5-football.jpg" alt="">
                <p>Charlotte</p>
            </li>

            <li>
                <img src="images/profile7-swimmer.jpg" alt="">
                <p>Mandy</p>
            </li>

            <li>

                <img src="images/basketball.jpg" alt="">

                <p>Stephany</p>
            </li>

        </ul>

        <!--Filter -->
        <details>
            <summary>Filter</summary>
            <p>Amsterdam</p>
            <p>Rotterdam</p>
            <p>Arnhem</p>
            <p>Groningen</p>
            
        </details>

    </div>

</header>